# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environment variables
.env

# VSCode
.vscode/

# MacOS
.DS_Store

# Python virtual environments
venv/
ENV/

# Service Account Json
fuctionTools/service-account-key.json

